body {
    background-color: blanchedalmond;
}

.record {
    width: 400px;
    height: 400px;
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    padding: 80px 70px;
    box-sizing: border-box;
    line-height: 10px;
    font-family: "Comic Sans MS", cursive;
    text-align: left;
}

.record:nth-child(5n) {
    background-image: url("../images/sticky/yellow_sticky.png");
}

.record:nth-child(5n+1) {
    background-image: url("../images/sticky/green_sticky.png");
}
.record:nth-child(5n+2) {
    background-image: url("../images/sticky/pink_sticky.png");
}

.record:nth-child(5n+3) {
    background-image: url("../images/sticky/blue_sticky.png");
}

.record:nth-child(5n+4) {
    background-image: url("../images/sticky/red_sticky.png");
}

.record {
    border: none;
}

.record td {
    padding: 5px;
    line-height: 20px;
}

.record td:first-child {
    width: 110px;
    text-align: right;
    text-decoration: underline;
}

.message {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: white;
    padding: 20px;
    margin: 10px 20px;
    border: saddlebrown 3px solid;
}

.SUCCESS {
    color: limegreen;
}

.WARNING {
    color: #ffdc00;
}

.ERROR {
    color: red;
}

.center, h1, h2, h3 {
    text-align: center;
}

:-moz-placeholder {
    color: #B2F284;
}
::-webkit-input-placeholder {
    color: #B2F284;
}

*:focus {
    outline: none;
}

form {
    display: inline-block;
    text-align: left;
}

form label, form h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

form ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

form li {
    padding:6px;
    position:relative;
}

form label {
    width: 65px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

form input, form textarea {
    width: 300px;
    height: 32px;
    padding: 5px 8px;
    border:1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

form textarea {
    font-family: "Arial";
    padding:8px;
    height: 100px;
}

form input:focus, form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}
/* Button Style */
form button.submit, a.button {
    margin-left: 0;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
    font-family:  Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    text-decoration: none;
}

form button.submit:hover, a.button:hover {
    opacity:.85;
    cursor: pointer;
}

form button.submit:active, a.button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}